.header {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  width: 100%;
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 22px;
}

.main {
  margin-bottom: 88px;
}
