.onboarding {
  padding: 16px;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.title {
  font-size: 24px;
  text-align: center;
}

.description {
  font-size: 18px;
  margin-top: 8px;
  text-align: center;
  color: #cecece; /* TODO: Add colors to global css */
}

.input {
  width: 80%;
  margin: 32px auto 0;
  font-size: 18px;
  border-radius: 10px;
  padding: 12px 16px;
  color: #d7d7d7; /* TODO: Add colors to global css */
  background-color: #323232; /* TODO: Add colors to global css */
}

.ellipsisProgress {
  gap: 8px;
  display: flex;
  margin-top: auto;
  justify-content: center;
}

.ellipsis {
  width: 8px;
  height: 8px;
  opacity: 0.3;
  border-radius: 50%;
  background-color: white;
}

.ellipsisActive {
  opacity: 1;
}

.button {
  width: 100%;
  padding: 16px;
  margin: 16px 0;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 600;
}
