:root {
  --color-bg: #151515;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-bg);
  color: white;
}

button,
input {
  border: 0;
  outline: 0;
  display: block;
  font-family: inherit;
}
