.navigationBar {
  bottom: 0;
  left: 0;
  min-height: 72px;
  width: 100%;
  position: fixed;
  padding: 16px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;
}

.navigationIcon {
  opacity: 0.6;
  color: white;
}

.navigationIcon.active {
  opacity: 1;
}
